{% extends 'base.html' %} {% block main %}
<div class="d-flex justify-content-between align-items-center">
  <h1>We Have {{count}} Categories</h1>
  <button
    class="btn btn-primary"
    data-bs-target="#exampleModal"
    data-bs-toggle="modal"
  >
    Create Category
  </button>
</div>
<table class="table table-light table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in categories %}
    <tr>
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>
        <button
          class="btn btn-sm btn-outline-warning"
          data-bs-target="#update_modal"
          data-bs-toggle="modal"
          onclick="setUpdateData({{item.id}}, '{{item.name}}')"
        >
          <i class="bi bi-pencil-square"></i>
        </button>
        <a class="btn btn-sm btn-outline-danger" href="/categories/{{item.id}}/">
          <i class="bi bi-trash3"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- ------------------------- Create Modal ------------------------- -->
<div class="modal fade" id="exampleModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Category</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="POST" id="form">
          <div class="form-group">
            {% csrf_token %}
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control sm" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" form="form">
          Submit
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- ------------------------- Create Modal ------------------------- -->

<!-- ------------------------- Update Modal ------------------------- -->
<div class="modal fade" id="update_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Category</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="POST" id="updateform">
          <div class="form-group">
            {% csrf_token %}
            <label for="update_name">Name</label>
            <input
              type="text"
              name="name"
              id="update_name"
              value=""
              class="form-control sm"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" form="updateform">
          Update
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- ------------------------- Update Modal ------------------------- -->

{% endblock main %} {% block script %}
<script>
  function setUpdateData(id, name) {
    document.getElementById("update_name").value = name;
    let form = document.getElementById('updateform')
    form.action = 'http://localhost:8000/categories/' + id + '/'
  }
</script>
{% endblock script %}
