{% extends "base.html" %} {% block main %} {% if count > 4 %}
<h1 class="text-success">We Have {{count}} Products</h1>
{% elif count > 2 %}
<h1 class="text-warning">We Have {{count}} Products</h1>
{% else %}
<h1 class="text-danger">We Have {{count}} Products</h1>
{% endif %}

<table class="table table-dark">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {% for item in products %}
    <tr>
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.price}}</td>
    </tr>

    {% endfor %}
  </tbody>
</table>

{% endblock main %}
